-provide(:page, 'category')
.row
  -# Category column
  .col-md-4
    =link_to "+ Add category", new_account_admin_category_path, {:remote => true,"data-target" => "#myModal", "data-toggle" => "modal", "class" => "btn btn-light w-100 text-secondary border-secondary p-4", :style => "border: dashed;"}
    #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
      .modal-dialog{:role => "document"}
        .modal-content
    #v-pills-tab-category.nav.flex-column.nav-pills.w-100.mt-5{"aria-orientation" => "vertical", :role => "tablist"}
      - @categories.each_with_index do |category, index|
        -if index == 0
          .nav-link.w-100.active.my-2.btn.btn-light.text-secondary{:id => "v-pills-category-#{category.id}-tab", "aria-controls" => "v-pills-category-#{category.id}", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-subcategory#{category.id}", :role => "tab"}
            .w-100.text-right
              %div(class="dropdown" )
                %a{:class => "text-danger btn p-0",
                      :type => "button btn-sm",
                      :id => "dropdownMenuButton",
                      "data-toggle" => "dropdown",
                      :style => "wight: bolder; border: none;",
                      :aria-expanded => "false"} ...
                %div(class="dropdown-menu p-2 m-0" aria-labelledby="dropdownMenuButton" style="border: none" )
                  = link_to "delete", account_admin_category_path(id: category.id), method: :delete, :class => "dropdown-item"
                  = link_to "edit", edit_account_admin_category_path(id: category.id), method: :get, :remote => true, :class => "dropdown-item", "data-target" => "#myModal", "data-toggle" => "modal"
            = category.name
        -else
          .nav-link.w-100.my-2.btn.btn-light.text-secondary{:id => "v-pills-category-#{category.id}-tab", "aria-controls" => "v-pills-category-#{category.id}", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-subcategory#{category.id}", :role => "tab"}
            .w-100.text-right
              %div(class="dropdown")
                %a{:class => "text-danger btn p-0",
                      :type => "button btn-sm",
                      :id => "dropdownMenuButton",
                      "data-toggle" => "dropdown",
                      :style => "wight: bolder; border: none",
                      :aria-expanded => "false"} ...
                %div(class="dropdown-menu p-2 m-0" aria-labelledby="dropdownMenuButton" style="border: none" )
                  = link_to "delete", account_admin_category_path(id: category.id), method: :delete, :class => "dropdown-item"
                  = link_to "edit", edit_account_admin_category_path(id: category.id), method: :delete, :class => "dropdown-item"
            = category.name
  .col-md-4
    =render "account/admin/sub_category/_part/index", categories: @categories
  .col-md-4
    =render "account/admin/team/_part/index", categories: @categories

:css
  #v-pills-tab-category .nav-link,
  #v-pills-tab-subcategory .nav-link {
    border: dashed #6c757d;
  }

  #v-pills-tab-category .nav-link.active,
  #v-pills-tab-subcategory .nav-link.active {
    border: none;
    color: red !important;
  }