%ul(class="nav flex-column mt-5 text-center border-right")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'}><i class='bi bi-chat-right'></i></h1>")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'}><i class='bi bi-card-text'></i></h1>")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'}><i class='bi bi-globe2'></i></h1>")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'} style='transform: rotate(90deg)'><i class='bi bi-layout-sidebar-reverse'></i></h1>")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'}><i class='bi bi-share'></i></h1>")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='users' ? 'text-danger': 'text-secondary'}><i class='bi bi-people'></i></h1>"), account_admin_user_index_path
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='category' ? 'text-danger': 'text-secondary'}><i class='bi bi-columns-gap'></i></h1>"), account_admin_category_index_path
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'}><i class='bi bi-square'></i></h1>")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'}><i class='bi bi-briefcase'></i></h1>")
  %li(class="nav-item m-2")
    =link_to raw("<h1 class=#{yield(:page)=='' ? 'text-danger': 'text-secondary'} style='transform: rotate(180deg)''><i class='bi bi-badge-vo'></i></h1>")