#v-pills-tabContent.tab-content.w-100
  -@categories.each_with_index do |category, index|
    .tab-pane.fade.show{id: "v-pills-subcategory#{category.id}", "aria-labelledby" => "v-pills-subcategory#{category.id}", :role => "tabpanel"}
      =link_to "+ Add subcategory", new_account_admin_category_sub_category_path(category_id: category.id), {:remote => true,"data-target" => "#myModal", "data-toggle" => "modal", "class" => "btn btn-light w-100 text-secondary border-secondary p-4", :style => "border: dashed;"}
      #v-pills-tab-subcategory.nav.flex-column.nav-pills.w-100.mt-5{"aria-orientation" => "vertical", :role => "tablist"}
        - category.sub_categories.each_with_index do |sub_category, index|
          .nav-link.w-100.my-2.btn.btn-light.text-secondary.sub-category-button{:id => "v-pills-subcategory-#{sub_category.id}-tab", "aria-controls" => "v-pills-subcategory-#{sub_category.id}", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-teams#{sub_category.id}", :role => "tab"}
            .w-100.text-right
              %div(class="dropdown" )
                %a{:class => "text-danger btn p-0",
                      :type => "button btn-sm",
                      :id => "dropdownMenuButton",
                      "data-toggle" => "dropdown",
                      :style => "wight: bolder; border: none;",
                      :aria-expanded => "false"} ...
                %div(class="dropdown-menu p-2 m-0" aria-labelledby="dropdownMenuButton" style="border: none" )
                  = link_to "delete", account_admin_category_sub_category_path(category_id: category.id, id: sub_category.id), method: :delete, :class => "dropdown-item"
                  = link_to "edit", edit_account_admin_category_sub_category_path(category_id: category.id, id: sub_category.id), method: :get, :remote => true, :class => "dropdown-item", "data-target" => "#myModal", "data-toggle" => "modal"
            = sub_category.name

