!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SportsPortal
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div(class="container-fluid")
      =render "layouts/_part/application_menu"
      - if alert
        %div(class="row" )
          %p(class="alert alert-danger col-md-12 text-center" role="alert")=alert
      - if notice
        %div(class="row" )
          %p(class="alert alert-info col-md-12 text-center" role="alert")=notice
      = yield
