!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SportsPortal
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div(class="container-fluid p-0")
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light{class: "p-0 mb-3"}
        %div(class="h-100 bg-danger p-2 text-white")
          %h2(class="m-3 px-3" ) Sports Hub
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
          %div
            - if user_signed_in?
              %span= current_user.email
              = link_to 'Log out', destroy_user_session_path, :method => :delete
            - else
              = link_to 'Sign in', new_user_session_path
              |
              = link_to 'Sign up', new_user_registration_path
      - if alert
        %div(class="row" )
          %p(class="alert alert-danger col-md-12 text-center" role="alert")=alert
      - if notice
        %div(class="row" )
          %p(class="alert alert-info col-md-12 text-center" role="alert")=notice
      %div(class="row")
        %div(class="col-md-10 offset-md-1" )
          %h1=yield(:page).titleize
      %div(class="row")
        %div(class="col-md-12")
          =render "layouts/_part/admin_top_menu"
      %div(class="row")
        %div(class="col-md-1")
          =render "layouts/_part/admin_menu"
        %div(class="col-md-9 offset-md-1")
          = yield
